html, body{
    background-color: aliceblue;
}

table, th, td {
  border: 1px solid black;
}

tbody{
  width: 100%;
}

form{
  border-top: 10px solid rgba(212,175,55,.8);
  border-top-width: thick;
  width: 65%;
}
input{
  padding: 5px;
  margin-top: 5px;
}

nav{
  padding: 10px;
  width: 100%;
}

#navDiv{
  width: 100%;
}
#logOut{
  margin-left: 600px;
}