body {
    /* background-color: aliceblue; */
    background: aliceblue;
}
#wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    perspective: 1500px;
}
.box-area {
    position: relative;
    transform-style: preserve-3d;
    animation-name: rotate;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    50% {
        transform: rotate3d(0, 0, 0, 0);
    }
    50% {
        transform: rotate3d(0, 1, 0, 360deg);
        ;
    }
}

.box {
    position: absolute;
    width: 400px;
    height: 400px;
    border: 2px solid #d4af37;
}

#box-front {
    transform: translateX(-200px) translateY(-200px) translateZ(200px);
    background: rgba(0, 0, 0, 0.5);
}

#box-back {
    transform: translateX(-200px) translateY(-200px) translateZ(-200px);
    background: rgba(0, 0, 0, 0.5);
}

#box-right {
    transform: translateY(-200px) rotateY(90deg);
    background: rgba(0, 0, 0, 0.5);
}

#box-left {
    transform: translateY(-200px) translateX(-400px) rotateY(90deg);
    background: rgba(0, 0, 0, 0.5);
}

#box-top {
    transform: translateX(-200px) translateY(-400px) rotateX(90deg);
    background: rgba(0, 0, 0, 0.5);
}

#box-bottom {
    transform: translateX(-200px) rotateX(90deg);
    background: rgba(0, 0, 0, 0.5);
}

.box-area {
    transform: rotateX(90deg) rotateY(90deg);
}

#login{
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a{
    color:whitesmoke;
}